<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{asignatura.id}}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{asignatura.nombre}}</td>
        </tr>
        <tr>
            <th>Profesor</th>
            <td>{{asignatura.profesor.nombre}} {{asignatura.profesor.apellido1}} {{asignatura.profesor.apellido2}}</td>
        </tr>
        <tr>
            <th>ISBN</th>
            <td>{{asignatura.isbnLibro}}</td>
        </tr>
    </tbody>
</table>