<div class="container-fluid">
  <div class="display-1 my-2 text-center">Welcome to Gradin'</div>
  <div class="text-small text-center">A simple web application to manage your school</div>

  <div class="row mt-5">
    <div class="col-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Teachers</h5>
          <p class="card-text">Manage your teachers</p>
          <div class="btn-group">
            <a class="btn btn-primary" routerLink="teachers">Go to teachers</a>
            <a href="#" class="btn btn-success">Add a teacher</a>
            <a href="#" class="btn btn-secondary">Edit teacher's information</a>
            <a href="#" class="btn btn-danger">Remove a teacher</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Students</h5>
          <p class="card-text">Manage your students</p>
          <div class="btn-group">
            <a class="btn btn-primary" routerLink="teachers">Go to teachers</a>
            <a href="#" class="btn btn-success">Add a student</a>
            <a href="#" class="btn btn-secondary">Edit a student's information</a>
            <a href="#" class="btn btn-danger">Remove a student</a>
          </div>
        </div>
      </div>
    </div>





  </div>