<div class="container-fluid">
  <div class="display-1 my-2 text-center">¡Bienvenido a Gradin'!</div>
  <div class="text-small text-center">Tu aplicación de confianza para administrar tu colegio</div>

  <div class="row mt-5">
    <div class="col-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Profesores</h5>
          <p class="card-text">Administrar profesores</p>
          <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/profesores']" >Ir a profesores</a>
            <a href="#" class="btn btn-success" [routerLink]="['/profesor/new']" >Agregar profesor</a>
            <a href="#" class="btn btn-secondary">Editar información de un profesor</a>
            <a href="#" class="btn btn-danger">Eliminar profesor</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Students</h5>
          <p class="card-text">Manage your students</p>
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Go to students</a>
            <a href="#" class="btn btn-success">Add a student</a>
            <a href="#" class="btn btn-secondary">Edit a student's information</a>
            <a href="#" class="btn btn-danger">Remove a student</a>
          </div>
        </div>
      </div>
    </div>





  </div>