<div class="container mt-3">
    <div class="display-2 text-center mb-3">Vista de una asignatura</div>
    <app-asignatura-detail [id]="id"></app-asignatura-detail>
    <div class="btn-group botonera d-flex justfiy-content-center">
        <a class="btn btn-primary" [routerLink]="['/asignaturas']">Volver</a>
        <a class="btn btn-success" [routerLink]="['/asignatura', id, 'edit']">Editar</a>
        <a class="btn btn-danger" [routerLink]="['/asignatura', id, 'remove']">Eliminar</a>
    </div>
</div>
