<div class="container-fluid mt-3">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">DNI</th>
        <th scope="col">Nombre</th>
        <th scope="col">Primer apellido</th>
        <th scope="col">Segundo apellido</th>
        <th scope="col">Correo</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profesor of profesores; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{profesor.name}}</td>
        <td>{{profesor.surname}}</td>
        <td>{{profesor.class}}</td>
      </tr>
    </tbody>
  </table>

</div>