<table class="table table-striped">
    <tbody>
      <tr>
        <th>Id</th>
        <td>{{profesor.id}}</td>
      </tr>
      <tr>
        <th>DNI</th>
        <td>{{profesor.dni}}</td>
      <tr>
        <th>Nombre</th>
        <td>{{profesor.nombre}}</td>
      </tr>
      <tr>
        <th>Apellidos</th>
        <td>{{profesor.apellido1}}</td>
      </tr>
      <tr>
        <th>Apellidos</th>
        <td>{{profesor.apellido2}}</td>
      </tr>
      <tr>
        <th>Fecha de nacimiento</th>
        <td>{{profesor.email}}</td>
    </tbody>
  </table>